#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
}
html {
  background-color: aqua;
}

#logo-image {
  width: 75px;
  margin-right: 10px;
  margin-top: 20px;
}

#cart-image {
  width: 25px;
  margin-right: 10px;
  margin-top: 20px;
}

.navbar {
  width: 100%;
  border-style: double;
  border: black, 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: aqua;
}

.products-list {
  display: grid;
  grid-template-columns: repeat(6, 25%);
  grid-column-gap: 2px;
  justify-content: space-around;

  width: 70em;
  padding-left: 4rem;
  padding-top: 1rem;
}
